Question 1: Write a Python program to print all the numbers from 1 to 10 using a for loop.

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Question 2: Write a program to find the sum of 1 to 100 numbers?

In [8]:
sum=0
for i in range(101):
    sum+=i
print(f"Sum of 1 to 100 {sum}")

Sum of 1 to 100 5050

Question 3: Write a Python program to print the multiplication table of Qua given number using a for loop.

In [9]:
number = int(input("find table of"))
for i in range(1,11):
    print(f"{number}*{i}={number*i}")

find table of 5

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

questioN 4: Write a Python program to count the number of even and odd numbers from a series of numbers using a for loop. Hint: Find even and odd from this list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
even=0
odd=0
for i in [1,2,3,4,5,6,7,8,9,10]:
    if i%2==0:
        even+=1
    else:
        odd+=1
print(f"Number of even {even}")
print(f"Number of odd {odd}")

Number of even 5
Number of odd 5

Question 5: Write a Python program to find the factorial of a number using a for loop.

In [2]:
fact = 1
number = int(input("Find Factorial of:"))
for i in range(1,number+1):
    fact *=i
print(f"Factorial of {number} is :",fact)

Find Factorial of: 5

Factorial of 5 is : 120

Question 6: Write a Python program to print the Fibonacci sequence up to a specified number using a for loop.

In [22]:
num1=0
num2=1
term = int(input("Enter the number of terms"))
#print(num1,end=",")
for i in range(1,term):
    print(num1,end=",")
    num1,num2 = num2,num1+num2

Enter the number of terms 10

0,1,1,2,3,5,8,13,21,

Question 7: Write a Python program to check if a given number is prime or not using a for loop.

In [2]:
number = int(input("Enter a number to check prime or not"))
if number<0:
    print(f"{number} is negative")
else:
    for i in range(2,int(number**.5)+1):
        if number%i==0:
            print("{number} is not prime")
            break
else :
    print(f"{number} is prime")

Enter a number to check prime or not 13

13 is prime

Question 8: Write a Python program to find the largest element in a list using a for loop.

In [18]:
lst = [25,30,5,100,50]
max(lst)

100

In [21]:
elements = input("Enter elements of list seprated by comma ")
lst = elements.split(",")
maxmm = int(lst[0])
for i in lst:
    if int(i) > maxmm :
        maxmm=int(i)
print(f"largest element : {maxmm}")

Enter elements of list seprated by comma  2,4,6,7,8

largest element : 8

Question 9: Write a Python program to reverse a given string using a for loop.

In [7]:
string = input("Enter string")
for i in range(len(string)-1,-1,-1):
    print(string[i],end="")

Enter string Python

nohtyP

In [9]:
string = input("Enter a string")
reverse = ""
for char in string:
    reverse = char+reverse
print(reverse)

Enter a string python

nohtyp

Question 10: Write a Python program to find the common elements between two lists using a for loop. List1 = [1,2,3] List2 = [4,5,1] # common element is 1

In [10]:
list1=[1,2,3]
list2=[4,5,1]
print(f"Common elements in {list1} & {list2} are",end=": ")
for i in list1:
    for j in list2:
        if i==j:
            print(i)

Common elements in [1, 2, 3] & [4, 5, 1] are: 1